.footer {
	background-color: #202326;
	padding: 0 30px;
}

.footer-blocks {
	padding: 24px 0 80px;
}

.copyright-social-buttons,
.copyright-social,
.copyright-wrap,
.footer-block-2,
.footer-blocks {
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	white-space: nowrap;
}

.footer-blocks {
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

[class^="footer-block-"]:not(:nth-child(1)) {
	margin-left: 30px;
}

.footer-block-2 {
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 340px;
}

.footer-block-2 .inner-blocks {
	flex-basis: 50%;
}

.footer-block-4	.inner-blocks:nth-child(1),
.footer-block-2 .inner-blocks:nth-child(2),
.footer-block-2 .inner-blocks:nth-child(1) {
	margin-bottom: 42px;
}

.footer-blocks a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	line-height: 30px;
}

.footer-blocks a:hover {
	text-decoration: underline;
	color: #2A96D4;
}

.footer-blocks a:active {
	color: #3d4145;
}

[class^="footer-block-"] ul li:nth-of-type(1) {
	font-size: 16px;
	line-height: 26px;
	font-weight: 500;
	color: #a3a9ad;
}

.copyright {
	padding-bottom: 15px;
}

.copyright-wrap p {
	font-size: 12px;
	font-weight: 500;
	color: #fff;
}

.copyright-wrap {
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.copyright-social {
	flex-basis: 340px;
	-ms-align-items: center;
	align-items: center;
}

.copyright-social p {
	font-size: 16px;
	line-height: 26px;
	white-space: nowrap;
	font-weight: 600;
	color: #a3a9ad;
}

.copyright-social-buttons {
	width: 190px;
	-ms-align-items: center;
	align-items: center;
}

.copyright-social-buttons .social-btn {
	width: 40px;
	height: 40px;
	background-color: #44609d;
	border-radius: 4px;
	font-size: 18px;
	line-height: 42px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
}

.copyright-social-buttons .tt-btn {
	background-color: #41abe1;
}

.copyright-social-buttons .gg-btn {
	background-color: #d73d32;
}

.copyright-social-buttons .in-btn  {
	background-color: #0177b5;
}

.copyright-social-buttons .fb-btn:hover {
	background-color: #EBB857;
}

.copyright-social-buttons .tt-btn:hover {
	background-color: #FFA740;
}

.copyright-social-buttons .gg-btn:hover {
	background-color: #26A53C;
}

.copyright-social-buttons .in-btn:hover  {
	background-color: #FF8B00;
}

.copyright-social-buttons .social-btn:active {
	-webkit-transform: scale(0.98);
	transform: scale(0.98);
}

@media (max-width: 1048px) {
	.footer-block-4 {
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-top: 30px;
		margin-left: 0 !important;
	}
	.footer-block-4 .inner-blocks:nth-child(1) {
		margin-right: 30px;
	}
}


@media (max-width: 875px) {
	.footer-block-3 {
		margin-top: 30px;
	}
	.footer-block-2 {
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		width: 65%;
	}
	.footer-block-4 {
		width: 60%;
	}
	.footer-block-3 {
		margin-left: 0 !important;
	}
	.copyright-wrap {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;

	}
	.copyright-social {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		flex-basis: auto;
		margin-top: 10px;
	}
	.copyright-social-buttons {
		margin-top: 10px;
	}
}

@media (max-width: 719px) {
	.footer-block-4 {
		margin-left: 0 !important;
	}
}

@media (max-width: 641px) {
	.footer-block-2 {
		margin-left: 0 !important;
	}
}

@media (max-width: 555px) {
	.footer-block-2 {
		margin-top: 30px;
	}
}

@media (max-width: 447px) {
	.footer-block-2 .inner-blocks:nth-child(4) {
		margin-top: 30px;
	}
}

@media (max-width: 340px) {
	.footer-block-4 {
		-moz-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
	}
}